.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blanchedalmond;
    border-radius: 15px;
    border: 1px solid black;
}









/* .search-box{ */
    /* -webkit-appearance: none; */
    /* border: none; le quito el borde */
    /* outline: none;le quito la linea externa */
    /* padding: 10px; */
    /* width: 150px; */
    /* line-height: 30px;altura de la linea */
    /* margin-bottom: 30px; */
/* } */